<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List common libraries
- Use basic arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. seaborn
4. tensorflow
5. keras
6. pytorch

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|Jupyter Notebook|

<h3> Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

minutues = 200
hours = 200/60
print(hours)

3.3333333333333335

<h2> Author

Tom